<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HĐGD</title>
</head>

<body>
  <h1>HĐGD</h1>
  <form action="" method="POST">
    <h1>Hi <%=result%></h1>
    <div>
      <br> <label for="field1" style="font-size:150%;">Nội dung</label>
      <br> <textarea placeholder="Nội dung" name="field1" id="field1" style="font-size:150%;" cols="80"
        rows="3"></textarea>
      <!-- <input type="text" id="field1" name="field1" /> -->
    </div>
    <div>
      <br> <label for="field2" style="font-size:150%;">Giá trị</label>
      <br> <textarea placeholder="Giá trị" name="field2" id="field2" style="font-size:150%;" cols="80"
        rows="3"></textarea>
      <!-- <input type="text" id="field2" name="field2"/> -->
    </div>
    <div>
      <br> <label for="field3" style="font-size:150%;">CCV</label>
      <br> <textarea placeholder="CCV" name="field3" id="field3" style="font-size:150%;" cols="80" rows="3"></textarea>
      <!-- <textarea name="request" id="request" cols="30" rows="2"></textarea> -->
      <!-- <input type="text" id="field3" name="field3"/> -->
    </div>
    <div>
      <br> <label for="field4" style="font-size:150%;">Thư ký</label>
      <br> <textarea placeholder="Thư ký" name="field4" id="field4" style="font-size:150%;" cols="80"
        rows="3"></textarea>
      <!-- <textarea name="request" id="request" cols="30" rows="2"></textarea> -->
      <!-- <input type="text" id="field4" name="field4"/> -->
    </div>
    <div>
      <br> <label for="field5" style="font-size:150%;">Ghi chú</label>
      <br> <textarea placeholder="Ghi chú" name="field5" id="field5" style="font-size:150%;" cols="80"
        rows="3"></textarea>
      <!-- <textarea name="request" id="request" cols="30" rows="2"></textarea> -->
      <!-- <input type="text" id="field5" name="field5"/> -->
    </div>
    <p> <button type="submit" style="height:100px;width:200px;font-size: xx-large;">Submit</button> </a></p>

  </form>
  <p> <a href="/"> <button style="height:100px;width:200px;font-size: xx-large;">Home</button> </a></p>
  <!-- <form>
    <label for="fname">First name:</label><br>
    <input type="text" id="name" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="request" name="lname">
    
    <button type="submit">Submit</button>
  </form> -->

</body>

</html>