<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <h1>Test Google Sheet</h1>
  <form action="" method="POST">
    <div>
      <label for="name">Name</label>
      <input type="text" id="name" name="name" />
    </div>
    <div>
      <label for="request">Text1</label>
      <!-- <textarea name="request" id="request" cols="30" rows="2"></textarea> -->
      <input type="text" id="request" name="request" width="50"/>
    </div>

    <button type="submit">Submit</button>
  </form>

  <!-- <form>
    <label for="fname">First name:</label><br>
    <input type="text" id="name" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="request" name="lname">
    
    <button type="submit">Submit</button>
  </form> -->

</body>

</html>