<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>CTCK</title>
</head>

<body>
  <h1>Login</h1>
  <form action="" method="POST">
    <div>
      <br> <label for="field1" style="font-size:150%;">ID</label>
      <br> <textarea placeholder="ID" name="field1" id="field1" style="font-size:150%;" cols="80" rows="3"></textarea>
      <!-- <input type="text" id="field1" name="field1" /> -->
    </div>

    <div>
      <br><label for="field3" style="font-size:150%;">Pass</label>
      <br> <textarea placeholder="Pass" name="field2" id="field2" style="font-size:150%;" cols="80" rows="3"></textarea>
      <!-- <textarea name="request" id="request" cols="30" rows="2"></textarea> -->
      <!-- <input type="text" id="field3" name="field3"/> -->
    </div>

    <p> <button type="submit" style="height:100px;width:200px;font-size: xx-large;">Login</button> </a></p>

  </form>

</body>

</html>